

services:
  api:
    container_name: nest-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongo
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run start:dev

  mongo:
    container_name: mongo
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: todo_db
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
